@import url(variable.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #D81A5f;    
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 95px 1fr;
    column-gap: 2%;
    padding: 23px 1% 9px 1%;
    grid-template-areas:"logo logo menu menu menu menu menu menu opcion opcion"
                        "pre pre pre pre info info info info info info";
}

.div_logo {
    grid-area: logo;
    /* background: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_logo img {
    width: 80%;
    height: 100%;
    object-fit: contain;
}

.div_menu {
    /* background: violet; */
    grid-area: menu;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_menu ul {
    display: flex;
    gap: 33px;
}

.div_menu ul li {
    /* background: olive; */
    list-style: none;
}

.div_menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}

.div_option {
    grid-area: opcion;
    /* background: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}


.div_product {
    padding-top: 81px;
    grid-area: pre;
    background: blueviolet;
    width: 708px;
    height: 85vh;
    position: relative;
}

.div_product > img {
    position: absolute;
    right: 0;
}

.div_ice-cream img:nth-child(1) {
    position: absolute;
    height: 663px;
    object-fit: contain;
    bottom: 0;
}

.div_ice-cream img:nth-child(2) {
    transform: rotate(32.69deg);
    width: 447px;
    height: 753px;
    z-index: 5;
    left: -140px;
}

.div_ice-cream img:nth-child(3) {
    transform: rotate(57.18deg);
    width: 447px;
    height: 832px;
    z-index: 10;
    left: 40px;
    bottom: -80px;
}

.div_ice-cream img:nth-child(4) {
    transform: rotate(85.74deg);
    z-index: 5;
    left: 0;
    bottom: -225px;
}

.div_info {
    grid-area: info;
    background: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

@media (max-width: 430px) {
    body {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 118px 1fr;
        grid-template-areas:
            "logo logo menu menu menu menu menu menu"
            "pre pre pre pre pre pre pre pre"
            "info info info info info info info info";
    }

    .div_logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

